<!DOCTYPE html>
<html lang="en">
<head>
    <title>Z43</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Project Alpha x: {random_number}</h1>
<hr>
<h1>Tasks:</h1>
<p><a href="https://tms2020tms.herokuapp.com/tasks/lesson03/task303/"
      target=”_blank” title="Реверс двух слов">https://tms2020tms.herokuapp.com/tasks/lesson03/task303/</a></p>
<p><a href="https://tms2020tms.herokuapp.com/tasks/lesson03/task311/"
      target=”_blank” title="Проверка email на принадлежность gmail.com">https://tms2020tms.herokuapp.com/tasks/lesson03/task311/</a></p>
<p><a href="https://tms2020tms.herokuapp.com/tasks/lesson03/task310/"
      target=”_blank” title="Банкомат">https://tms2020tms.herokuapp.com/tasks/lesson03/task310/</a></p>
<p>Environ</p>
<table>
    {environ}
</table>
</body>
</html>